*{
  font-family: "MS PGothic";
}
header {
  height:65px;
  width:100%;
  background-color:white;
}
.header-left{
  float:left;
  padding-left:10px;
}
header h1{
  line-height:40px;
  padding-left:25px;
  font-size:22px;
}
.header-right{
  float:right;
}
.header-right a{
  line-height:65px;
  display:inline-block;
  font-size:15px;
  padding:0 25px;
  font-weight: bold;
  color:black;
}
.header-right a:hover{
  background-color:rgba(235, 231, 231, 0.3);
}
a {
  text-decoration: none;
}
.container{
  width:100%;
}
.price-time {
  padding:20px 20px 5px 22px;
  font-size:25px;
  border-bottom:solid 2px black;
  max-width:630px;
}
.student {
  padding:30px 20px 5px 20px;
  font-size:25px;
  border-bottom:solid 2px black;
  max-width:630px;
}
.method{
  padding:20px 20px 5px 15px;
  font-size:25px;
  border-bottom:solid 2px black;
  max-width:640px;
}
.schedule{
  padding:20px 20px 5px 20px;
  font-size:25px;
  border-bottom:solid 2px black;
  max-width:640px;
}
table{
  border-collapse:collapse;
  margin:20px;
}
td{
  border: solid 2px;
  width:120px;
  text-align: center;
  padding:10px 0;
}
.exp-student{
  padding-left:30px;
  font-family:'MS PGothic';
}
.exp-student span{
  border-bottom:solid 2px rgb(185, 0, 0);
}
.exp-student1{
  margin-bottom:30px;
}
.exp-price-timeq{
  padding-left:30px;
  font-family:'MS PGothic';
}
.exp-price-timeq span{
  border-bottom:solid 2px rgb(185, 0, 0);
}
.exp-price-time{
  font-family:'MS PGothic';
}
.exp-price-timeq1{
  margin-bottom:30px;
}
.exp-method{
  padding-left:30px;
  font-family:'MS PGothic';
}
.exp-method span{
  border-bottom:solid 2px rgb(185, 0, 0);
}
.exp-method1{
  margin-bottom:30px;
}
.exp-schedule{
  padding-left:30px;
  font-family:'MS PGothic';
}
.exp-schedule span{
  border-bottom:solid 2px rgb(185, 0, 0);
}
.exp-schedule1{
  margin-bottom:30px;
}
